<html>
    <head>
    <title>reframe release</title>
    <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Thank you for being vulnerable with me.<br><br>Remember, you are not alone. <br><br><br>Here are others that have joined you:</h1>

        <% 
            if (data.length > 0) { 
                for (var i = 0; i < data.length; i++) {
        %>
                    <div id="dataout<%= i %>" style="color: <%= data[i].color %>"><a href="/displayrecord?_id=<%= data[i]._id %>"><%= data[i].text %></a></div>
        <% 
                }
            }
        %>


    </body>
</html>