body {
    font-size: 18px;
    font-family: Arial;
    background-color: black;
    color:white;
}

.animation-box {
    width: 100%;
    height: 27.5rem;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.animation-container {
    width: 1000rem;
    height: 30rem;
}

@keyframes topFadeOut {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }

    75% {
        position: absolute;
        top: 25%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bottomFadeOut {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }

    75% {
        position: absolute;
        bottom: 25%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes topFadeOutVertical {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }

    75% {
        position: absolute;
        top: 45%;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rightFadeInOut {
    0% {
        position: absolute;
        right: -3rem;
        opacity: 0;
    }

    75% {
        position: absolute;
        right: 10rem;
        opacity: 1;
    }

    100% {
        opacity: 0;
        right: 10rem;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes bottomFadeStay {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }

    75% {
        position: absolute;
        bottom: 25%;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes final {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }

    25% {
        position: absolute;
        bottom: 25%;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.txt01 {
    font-size: 18px;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 6s;
    color: white;
}

.txt02 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 7s;
    animation-duration: 6s;
}

.txt03 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 11s;
    animation-duration: 6s;

}

.txt04 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 15s;
    animation-duration: 6s;
}

.txt05 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 20s;
    animation-duration: 9s;
}

.txt06 {
    font-size: 18px;
    position: absolute;
    left: 20%;
    top: 12rem;
    opacity: 0;
    animation-name: bottomFadeOut;
    animation-delay: 23s;
    animation-duration: 5s;
    color: white;
}

.txt07 {
    font-size: 18px;
    position: absolute;
    left: 30%;
    top: 14rem;
    opacity: 0;
    animation-name: bottomFadeOut;
    animation-delay: 24s;
    animation-duration: 5s;
    color: white;
}

.txt08 {
    font-size: 18px;
    position: absolute;
    left: 40%;
    top: 16rem;
    opacity: 0;
    animation-name: bottomFadeOut;
    animation-delay: 25s;
    animation-duration: 7s;
    color: white;
}

.txt09 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 35s;
    animation-duration: 6s;
}

.txt10 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 39s;
    animation-duration: 6s;
    color: white;
}

.txt11 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 45s;
    animation-duration: 6s;
    color: white;
}

.txt12 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: fadeInOut;
    animation-delay: 49s;
    animation-duration: 6s;
    color: white;
}

.txt13 {
    font-size: 18px;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: white;
    animation-name: final;
    animation-delay: 52s;
    animation-duration: 100s;
    color: white;
}


.button {
    background-color: #555555;
    border: 2px solid #555555;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .button:hover {
        background-color: white;
        color: black;
    }